services:
  shellclash:
    image: juewuy/shellcrash:latest
    container_name: shellcrash
    networks:
      macvlan_lan:
        ipv4_address: 192.168.3.3
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - NET_RAW
    devices:
      - "/dev/net/tun:/dev/net/tun"
    sysctls:
      net.ipv4.ip_forward: 1
    volumes:
      - /etc/ShellCrash:/root/ShellCrash
    restart: always
    
networks:
  macvlan_lan:
    name: macvlan_lan
    driver: macvlan
    driver_opts:
      parent: eth0
    ipam:
      config:
        - subnet: 192.168.3.0/24
          gateway: 192.168.3.1