services:
  mihomo:
    container_name: mihomo
    image: metacubex/mihomo:latest
    restart: always
    pid: "host"
    ipc: "host"
    network_mode: host
    cap_add:
      - ALL
    volumes:
      - ./config/config.yaml:/root/.config/mihomo/config.yaml
      - ./config/ui:/usr/share/mihomo/ui
    devices:
      - /dev/net/tun:/dev/net/tun
