services:
  # mihomo (clash.meta) 核心代理服务
  mihomo:
    image: metacubex/mihomo:latest
    container_name: mihomo
    restart: always  # 开机自启，容器挂了自动重启
    network_mode: "host"  # 宿主机网络模式【核心】，端口无映射问题，最稳定
    volumes:
      # 挂载本地配置文件到容器内，必须！把你的config.yaml放到宿主机 ./config 目录下
      - ./config:/root/.config/mihomo
    environment:
      - TZ=Asia/Shanghai  # 时区同步，日志时间正确
    command:
      - -f
      - /root/.config/mihomo/config.yaml

  # Yacd 可视化前端UI
  metacubexd:
    image: dzlx/metacubexd:latest
    container_name: metacubexd
    restart: always
    ports:
    - "8080:80"
 # 和mihomo同网络，通信无阻碍
    environment:
      - TZ=Asia/Shanghai
