services:
  # mihomo (clash.meta) 核心代理服务
  mihomo:
    container_name: mihomo
    image: metacubex/mihomo:latest
    restart: always
    pid: "host"
    ipc: "host"
    network_mode: host
    cap_add:
      - ALL
    volumes:
      - ./config/config.yaml:/root/.config/mihomo/config.yaml
    devices:
      - /dev/net/tun:/dev/net/tun


  # Yacd 可视化前端UI
  metacubexd:
    image: ghcr.1ms.run/metacubex/metacubexd
    container_name: metacubexd
    restart: always
    ports:
    - "8080:80"
 # 和mihomo同网络，通信无阻碍
    environment:
      - TZ=Asia/Shanghai
