services:
  solara-music:
    image: 1555904/solara-music:latest
    container_name: solara-music
    restart: always
    ports:
      - "3011:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
